@import url(https://fonts.googleapis.com/css?family=Rubik|Lato);

* {
  margin:0;
  padding:0;
}

body { 
  background-color: #e6e6e6;
	
  background: -webkit-linear-gradient(left, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* Standard syntax (must be last) */
  font-family:'Lato', sans-serif;
}

/*----------------Overriding dumb wiki stuff----------------------------------*/

#content {
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-top: -12px; /*Couldn't figure out why we got a white bar above all content, so I cheated a bit*/
}


/*This changes margins that messed with the header navbar*/
.mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul {
    margin: 0;
}

/*This is the forced heading and logo. Why? :( */
#top_title {
    display: none;
}

/*Something caused the sideMenu to start out displayed instead of hidden. This fixes that.*/
#sideMenu {
    display: none;
}

/*---------------Index page header (above header nav bar)------------------------------*/

/*This is for the part above the header navbar with the title and logo*/
#header_navbar_top {
  background-color: #000000;
  background-image: url("pictures_17/backgrounds/korsvagen_5.png"); /*linear-gradient(to bottom, #7bac78, #016243);*/  
	background-repeat: no-repeat;
  background-position: center;
	background-size: 100% 100%; /*60% 100%*/
	/*border: 3px solid #000000;*/
	text-align: left;
	position:top;
  min-height: 750px;
	height:auto;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*padding-right: 10px; /*100--> 250*/
  /*padding-left: 10px; /*250--> 250px*/
	
	/*height: 270px;/*220px
  min-width: 70%; /*minimum width of header. Don't change from 1200px, title fucks up
  min-height: 70%; /*don't think does anything
	margin-left: auto; /*The width of the header. Keep on auto to avoid gray edges
  margin-right: auto; /* --"-- 
  padding: 40px;/*Find another way to move the logo down a bit?*/
  border-bottom: 5px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

}

/*This is the title of the project*/
#header_navbar_top_title {
/*Sizes in px*/
	display:inline-block;
	padding-top:650px;
  padding-right:20%;
  font-size: 100px;
  line-height: 45px;
  color: #c91a03;
	text-shadow: 3px 3px #000000;
  font-family:'Lato', cursive; /*Dancing Script, Marck Script (meh), Tangerine (ok), Sacramento (meh), Allura (nej), Parisienne (meh), Montez(meh)*/
	font-weight: bold;
	text-align:left;
	margin-left:10%;
	
	/*margin-right:10px;	*/
	/*For the title on index*/
	/*background-color: transparent;
  font-size: 60pt; /*35pt
	font-family:"Lato", cursive; /*Dancing Script, Marck Script, Tangerine, Sacramento, Allura, Parisienne, Montez
  color:#c91a03;
	line-height: 45pt;
  padding-top: 35%;
	font-weight: bold;
	text-align:left;
	margin-left:200px;*/
}

#header_navbar_top_subtitle {
  color:#c91a03;
  font-size: 40pt;
	line-height: 30pt;
  padding-top: 1%;
  padding-bottom: 20px;
	font-family:"Lato", cursive;
	text-align:left;
	margin-left:10%;
	margin-right:25%;
	text-shadow: 3px 3px #000000;
}

.subheader{
	color:#808080; /*#7e1002;*/
	text-align:center;
	font-size:50pt;
	padding-top:150px;
	padding-bottom:200px;	
}


#header_navbar_top_logo {
  display:inline-block;
		position: absolute;
	  width:9vw; /*20% 20%*/
    height:9vw;
    right:10%;
    bottom:12%;
		
}

.overview {
	padding-bottom:100px;
}

/*logo in the right corner*/
.logo_pos_right{
	position: fixed;
	/*position in px*/  
	/*  width:20px;
    height:20px;
    right:150px;
    bottom:150px;*/
	/*position in percent*/  
	  width:7vw; /*20% 20%*/
    height:7vw;
    right:3%;
    bottom:5%;
}


#header_navbar_top_logo {
  display:inline-block;
}


/*--------------------Header navbar--------------------------------------------*/


/*body { 
    font-family: helvetica;
	margin:0;
}*/

/*The wrapper and the nav bar have to be the same height, or the page will jump when the nav bar sticks.*/
#header_navbar_wrapper, .header_navbar_ul {
    height: 70px;
}

.header_navbar_ul {
  list-style-type: none; /*No bullet points*/
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-color: #c91a03;
	border-bottom: 2px solid black;
	
	top: 0;
  width: 100%;
  /*min-width: 1440px; Makes the navbar too big for smaller screens. Keep muted if possible*/
  z-index:9999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Having the header navbar stick to the top of the screen after it reaches that position*/
.header-nav_stick {
    position: fixed;
    width: 100%;
    top: 16px;
    z-index: 9999;
}

/*Current page header highlight*/
.home #home_link,
.team #team_link,
.achievements #achievements_link,
.HP #HP_link,
.modelling #modelling_link,
.notebook #notebook_link,
.parts #parts_link,
.project #project_link,
.safety #safety_link
{
    color: white;
		text-decoration:underline;
		
}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 8px;
    /*font-size: 16px;*/
    border: none;
    cursor: pointer;
}

.dropdown,
#header_navbar_home {
    position: relative;
    display: inline-block;
    z-index:9999;
    font-family:'Lato', sans-serif;
}

.dropdown a,
#header_navbar_home a {
  display: block; /*Displaying the links as block elements makes the whole link 
  area clickable (not just the text), and it allows us to specify padding (and 
  height, width, margins, etc. if you want)*/
  color: #e6e6e6;/*b5deca*/
  text-align: left;
  text-decoration: bold;
  padding: 8px; /*Since block elements take up the full width available, they 
  cannot float next to each other. Therefore, specify some padding to make them look good*/
  font-size: 14pt;
  font-weight:bold;
  line-height: 54px;
}


/*Size settings for the dropdown menu content*/
.dropdown-content a {
    line-height: 30px;
    font-size: 12pt;
}

/* Change the link color on hover over either dropdown button, or the dropdown menu items. Also, rounded top borders */
.header_navbar_ul li:hover > a {
    background-color: #7e1002; /*#7e1002*/
    color: white;
    border-radius: 10px 10px 0 0;
		text-decoration:none;
		
}


#header_navbar_home a:hover {
    color: white;
    border-radius: 10px 10px 0 0;
		border-bottom: 2px solid black;
}


/*Top right rounded highlight for first list element in dropdown menu*/
.dropdown-content a:first-child:hover {
    border-radius: 0 10px 0 0;
}

/*bottom rounded highlights for last list element in dropdown menu*/
.dropdown-content a:last-child:hover {
    border-radius: 0 0 10px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c91a03;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: auto !important; /*to avoid line breaks*/
    white-space: nowrap; /*to avoid line breaks*/
    min-width: 200px;
    border-radius: 0 10px 10px 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7e1002;/*#7e1002*/
    /*border-radius: 10px 10px 10px 10px; /*Temprorary solution. I'd prefer to only round the corners that touch the corners of the menu*/
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Styling for <hr> between menu items in the dropdown menus*/
.header_navbar_ul hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,  rgba(0, 0, 0, 0), #ccc,  rgba(0, 0, 0, 0));
    margin-top: 0;
    margin-bottom: 0;
}

/*I don't think this one does anything. Probably because of "".dropdown-content a:hover" covering it.*/
.dropdown:hover .dropbtn {
    background-color: #111;
}



/*---------------------------Footer with sponsor logos----------------------------*/

footer hr  {
    border: 0;
    height: 0;
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 50px;
}

#footer-contact-row {
  padding-bottom: 50px;
}

#footer-contact-row a {
  color: #999999;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

#footer-contact-row a:hover {
  color: #c91a03;
}

#footer-contact-row hr  {
    border: 0;
    height: 0;
    /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 30%;
    text-align: center;
    margin-left: 35%;
}

#logorow {
  width: 80%;
  padding: 0;
  margin: 0 auto 0 auto;
}

.footerimg {
  max-height: 100px;
  max-width: 250px;
}

.footerlogo {
  display: inline-block;
  vertical-align: bottom;
  padding: 1em 1.5em 1em 1.5em;
}

.footerlogo .on {
  display: inline-block;
}

.footerlogo:hover .on, .footerlogo .off {
  display: none;
}

.footerlogo:hover .off {
  display: inline-block;
}

/*---------------------------Center page styling---------------------------------*/

/*The wrap class is used for <div> in order to define a space where the
side navigation bar and the page content (text, images etc) is kept*/


.wrap {
  /*width: 100%; /*auto--> 50%
  text-align: center;
  margin: auto; /*auto--> %
  margin-top: 0px; /*40px --> 0px */

	width: cover;
  text-align: center;
  margin: auto;
  margin-top: 0px;
	
	background:#e6e6e6;  
  background: -webkit-linear-gradient(left, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)) !important; /* Standard syntax (must be last) */
}

/*Attempt to wrap header*/
.wrap-header {
	padding-right: auto; /*100--> 250*/
  padding-left: auto; /*250--> 250px*/
	background-color: #e6e6e6;
}

/*This is the content of the page, i.e. text images etc. Fits inside <div> with the wrap class*/
.wrap-content {
	/*margin-top:75px;
  padding-right: 25%; /*100--> 450*/ /*25%
  padding-left: 25%; /*250--> 450px*/ /*25%
	background-color: transparent;
	border-style:dashed;*/
	
	margin-top:100px;
	padding-right: 22%;
  padding-left: 22%;
	background-color: transparent;
	
	/*background-size:50px;*/
}

/*Like .wrap-content, except with even margins, for pages where a side navigation bar is superfluous*/
.wrap-content-no-side-nav {
  padding-right: 75px;/*50px*/
  padding-left: 75px;
}

.wrap-content, .wrap-content-no-side-nav {
  padding-top: 25px;
}

.dashed_line_left_first {
	background-color:transparent;
	
	border-style: none none dashed dashed;
	border-width:5px;
	border-color:#808080;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	padding-top:0px;
}

.dashed_line_left {
	background-color:transparent;
	
	border-style: none none dashed dashed;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}

.dashed_line_right {
	background-color:transparent;
	border-style: none dashed dashed none;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}

.dashed_line_right_last { /*No bottom border, only left*/
	background-color:transparent;
	border-style: none dashed none none;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}

.dashed_line_left_last { /*No bottom border, only right*/
	background-color:transparent;
	border-style: none none none dashed;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}



/*----------------------------Side navigation bar-------------------------------*/

#side-nav {
    width: 25%;
}

#side-nav nav {
    /*width: 225px;
    padding-left: 25px;
    padding-top:80px;
    float: left;
	border-style:dashed;*/
	
	  width: 175px;
    margin-left: 25px;
    margin-top:140px;
    float: left;
		border-style:solid;
		border-width:2px;
		border-color:#000000;

}

#side-nav a {
    color: #333;
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
		background: #e6e6e6;
		font-size:12pt !important;
}

#side-nav a.active {
    background: #c91a03;/*before: fff7b5*/
    color: #1a1a1a;
		font-size:12pt !important;
	}

#side-nav .sub-level {
    padding-left: 30px;
    /*font-size: 12pt;*/
}

#side-nav a:hover {
  background: #ffffff; /*Before: #dcdbdb;*/
  color: black;
	font-size:12pt !important;
	font-weight:bold;
	text-decoration:underline;
	text-decoration-color:#c91a03;
}


.side-nav_stick {
    position: fixed;
    top: 0;
    z-index: 0;
    margin-top:120px;
}

.hidden-sidenav {
  opacity: 0;
}

#side-nav nav {
	-webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
}


/*---------------------------Profile card styling-------------------------------------*/
.profile-table {
  margin: 0 auto 0 auto;
  border-spacing: 30px;
  border: 0 !important;
}

.profile-table td {
  border: 0 !important;
}

.profile-main {
  height: 350px;
  width: 300px;
  position: relative;
  margin: 10px;
}

.profile-container {
  height: 350px;
  width: 300px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fffef9;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  #fffffb 0%, #fffef9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* IE10+ */
	background: linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}

.profile-image {
  margin: 15px auto 0 auto;
  height: 250px;
  width: 250px;
  position:relative;
}

.profile-content {
  display: none;
  width: 300px;
  margin: 70px auto 0 auto;
  text-align: justify;
}

.profile-container:hover .profile-content {
  display: block;
}

.profile-container:hover .profile-image {
  position: relative;
}

.profile-name {
  padding-top: 15px;
  color: #c91a03;
  font-weight: bold;
  font-size: 15pt;
}

.profiletext {
  font-size: 10pt !important;
  margin-top: 10px;
  line-height: 150%;
  text-align: justify;
}

.profilejob {
  font-size:12pt !important;
}

/*-------------------------------GENERAL STUFF-------------------------------------*/

div {
  text-align: center;
}

/*.header is the class used in the header image at the top of pages*/
.header {
  font-size: 45pt;
  color: black;
  text-align: center;
  background-color: #000000;
  background-repeat: repeat;
  height: auto;
  line-height: 130px;
	
		border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  }

.header_Modelling {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/chalkboard_2.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Achievements_biobricks {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Project_theory {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/pen_paper.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Project_constructs {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/DNA.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_students {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/team_photos_2017/group_photo_stairs_bw.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_supervisors {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/Chemistry_entrance_bw.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_sponsors {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/money_bw.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_collaborations {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/shaking_hands_darker.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_attributions {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/Chalmers_port_4.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Notebook_journal {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/Notebook.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Notebook_lab_safety {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/T--Chalmers-Gothenburg--Safety_form_Fume_hood.jpg"); /*, linear-gradient(to bottom, #ffffff, #e6e6e6); /*#0c749c, #145071*/
/*  min-height: 500px;*/

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header-text {
  background-color: transparent;
  font-size: 80pt;
	font-family:"Lato", cursive;
  color:#c91a03 ;
	line-height: 65pt;
  padding-top: 35%;
	font-weight: bold;
	text-align:left;
	margin-left:200px;
	text-shadow: 5px 5px #000000;
	
	
}

.header-subtitle {
  color:#c91a03;
  font-size: 40pt;
	line-height: 30pt;
  padding-top: 2%;
  padding-bottom: 20px;
	font-family:"Lato", cursive;
	text-align:left;
	margin-left:200px;
	text-shadow: 2px 2px #000000;
}

/*--------------Basic text and content styling---------------------------------*/
p {
  font-size: 12pt !important;
  text-align: justify;
  text-justify: inter-word;
  /*text-indent: 20px;*/
  line-height: 200%;
  margin-bottom: 10px;
	color:#1a1a1a;
}

h2 {
	text-align:left;
}

.h2style {
	color:#1a1a1a;
	font-size:25pt;
	text-align:center;
}

h3 {
  text-align: left;
  
}

figcaption {
  color: black;
  font-size: 11pt;
  text-align: justify;
  padding-left: 80px;
	margin-left:50px;
  
}

figcaption b {
  color: #c91a03;
}

.subtitle {

	color:#000000;
	font-size:30pt !important;
	text-align:center;
	
	border-bottom: 2px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #1a1a1a 0%, #808080, #1a1a1a 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #1a1a1a 0%, #808080, #1a1a1a 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #1a1a1a 0%, #808080, #1a1a1a 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.list {
  margin-left:50px;
  list-style-position: outside;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 10px;
  font-size: 12pt;
  line-height: 125%;
}

.sponsor-picture {
	display: inline-block;
	border-style:dashed;
	width: 500px;
  height:170px;
	padding: 10px;
}

.sponsor-picture2 {
	width: 200px;
  margin-left: 50px;
	margin-bottom:10px;
	float:right;
	}

.sidetitle {
	
	color:#1a1a1a;
	font-size:30pt;
	text-align:center;
	
	border-bottom: 2px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #808080, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #808080, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #808080, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

}


/*--------------Links in text and lists are red when hovered------------------*/



p a:link {
  text-decoration: none;
  color: #c91a03;
  
}

p a:link:hover {
  color: #7e1002;
}

p a:visited {
  text-decoration: none;
  color: #c91a03;
  
}

h1 a:link {
  font-weight: bold;
	color: #c91a03;
}

h1 a:link:hover {
  font-weight: bold;
  color: #7e1002;
}

h1 a:visited {
  /*font-weight: bold;*/
	color:#c91a03;
}

/*Commented before, want to know what it does*/
.list a:link {
  text-decoration: none;
  color: #c91a03;
}

.list a:visited {
  text-decoration: none;
  color: #c91a03;
}

.list a:hover {
  text-decoration: none;
  color: #7e1002;
}

.text a:link {
  text-decoration: none;
  color: #c91a03;
}

.text a:visited {
  text-decoration: none;
  color: #c91a03;
}

.text a:hover {
  text-decoration: none;
  color: #7e1002;
}

.profiletext a:link {
  text-decoration: none;
  color: #c91a03;
  font-weight: bold;
}

.profiletext a:visited {
  text-decoration: none;
  color: #c91a03;
  font-weight: bold;
}


.profiletext a:hover {
  text-decoration: none;
  color: #7e1002;
}

/*superscript and subscript modification so it doesn't fuck up line-height in multiple lined text*/
sub, sup { 
	font-size: 75%;
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
sup { 
	top: -0.5em; 
}
sub { 
	bottom: -0.25em; 
}

.thankyoutext {
  font-size: 16pt;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 10px;
  text-indent: 20px;
  line-height: 150%;
  font-weight: 500;
}


/*---------------------------BUTTON---------------------------------*/
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #5B9E00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.6s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*-----------------------long button----------------------------------------*/
.button_long {
  display: inline-block;
  border-radius: 10px;
  background-color: #5B9E00;
  border: none;
  color: black;
  text-align: left;
  font-weight:600;
  font-size: 15pt;
  padding: 10px;
  width: 100%;
  transition: all 0.6s;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button_long span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_long span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_long:hover span {
  padding-right: 25px;
}

.button_long:hover span:after {
  opacity: 1;
  right: 0;
}