/*.main-back {
  background-image: url("Pictures/elements/main_images/sfondo-carta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;*/
}
/*
.hospital {
  background-color: #FFFFFF;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.project {
  background-color: #A0C8C3FF;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.modelling {
  background-color: #FFC6C3FF;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hp {
  background-color: #FDFFC2FF;
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.margin-h5 {
  font-size:2em; 
  font-weight:bold;"
}

.margin-h6 {
  font-size:0.8em; 
  font-weight:bold; 
  padding:4px;
}*/