@import url(https://fonts.googleapis.com/css?family=Rubik|Lato);
@import url('https://fonts.googleapis.com/css?family=Allura|Dancing+Script|Marck+Script|Montez|Parisienne|Sacramento|Tangerine');
* {
  margin:0;
  padding:0;
}

body { 
  background-color: #e6e6e6;
	
  background: -webkit-linear-gradient(left, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* Standard syntax (must be last) */
  font-family:'Lato', sans-serif;
}



/*---------------Index page header ------------------------------*/

/*This is for the part above the header navbar with the title and logo*/
#header_navbar_top {
  background-color: #000000;
	background-image: url("pictures_17/backgrounds/clouds.jpeg"); /*linear-gradient(to bottom, #7bac78, #016243);*/  
	background-repeat: no-repeat;
  background-position: center;
	background-size: 100% 100%;
	text-align: left;
	position:top;
  min-height: 500px;
	min-width:750px;
	height:auto;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  border-bottom: 5px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%);*/
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%); /*(left, #016243 0%, #b5deca, #016243 100%)*/
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%); /*(to right, #016243 0%, #b5deca, #016243 100%);*/
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
	
	

}
.subheader{
	color:#000000; /*#7e1002;*/
	text-align:center;
	font-size:50pt;
	padding-top:20%; /*how far from the nav bar the text is*/
	margin-top:0px;
	background-color:transparent;
	
}

/*This is the title of the project*/
#header_navbar_top_title {
	display:inline-block;
	padding-top:10%; /*how far below the subheader the title is*/
  padding-right:0%;
  font-size: 60pt;
  line-height: 45px;
  color: #c91a03;
	text-shadow: 5px 5px #000000;
  font-family:'Lato', cursive;
	font-weight: bold;
	text-align:left;
	margin-left:10%;
	
}

#header_navbar_top_subtitle {
  color:#c91a03;
  font-size: 30pt;
	line-height: 30pt;
  padding-top: 1%;
  padding-bottom: 20px;
	font-family:"Lato", cursive;
	text-align:left;
	margin-left:10%;
	margin-right:25%;
	text-shadow: 2px 2px #000000;
	
}

#header_navbar_top_logo {
  display:inline-block;
		position: absolute;
	  width:9vw;
    height:9vw;
    right:5%;
		float:right;
		margin-top:7%;
	
		min-height:100px;
		min-width:100px;
}

/*logo in the right corner*/
.logo_pos_right{
	position: fixed;
	  width:7vw;
    height:7vw;
    right:3%;
    bottom:5%;
}

.overview {
	padding-bottom:100px;
}
/*--------------------Header navbar--------------------------------------------*/

/*The wrapper and the nav bar have to be the same height, or the page will jump when the nav bar sticks.*/
#header_navbar_wrapper, .header_navbar_ul {
    height: 70px;
	
}

.header_navbar_ul {
  list-style-type: none; /*No bullet points*/
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-color: #c91a03; /* #c91a03*/
	border-bottom: 2px solid black;
	
	top: 0;
  width: 100%;
  min-width: 850px;
  z-index:9999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-nav_stick {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.home #home_link,
.team #team_link,
.achievements #achievements_link,
.HP #HP_link,
.modelling #modelling_link,
.notebook #notebook_link,
.parts #parts_link,
.project #project_link,
.safety #safety_link
{
    color: white;
		text-decoration:underline;
		
}


.dropbtn {
    background-color: transparent;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
}

.dropdown,
#header_navbar_home {
    position: relative;
    display: inline-block;
    z-index:9999;
    font-family:'Lato', sans-serif;
}

.dropdown a,
#header_navbar_home a {
  display: block; /*Displaying the links as block elements makes the whole link 
  area clickable (not just the text), and it allows us to specify padding (and 
  height, width, margins, etc. if you want)*/
  color: #e6e6e6;/*b5deca*/
  text-align: left;
  text-decoration: bold;
  padding: 8px; /*Since block elements take up the full width available, they 
  cannot float next to each other. Therefore, specify some padding to make them look good*/
  font-size: 14pt;
  font-weight:bold;
  line-height: 54px;
}


/*Size settings for the dropdown menu content*/
.dropdown-content a {
    line-height: 30px;
    font-size: 12pt;
}

/* Change the link color on hover over either dropdown button, or the dropdown menu items. Also, rounded top borders */
.header_navbar_ul li:hover > a {
    background-color: #7e1002; /*#7e1002*/
    color: white;
    border-radius: 10px 10px 0 0;
		text-decoration:none;
		
}


#header_navbar_home a:hover {
    color: white;
    border-radius: 10px 10px 0 0;
		border-bottom: 2px solid black;
}


/*Top right rounded highlight for first list element in dropdown menu*/
.dropdown-content a:first-child:hover {
    border-radius: 0 10px 0 0;
}

/*bottom rounded highlights for last list element in dropdown menu*/
.dropdown-content a:last-child:hover {
    border-radius: 0 0 10px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c91a03;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: auto !important; /*to avoid line breaks*/
    white-space: nowrap; /*to avoid line breaks*/
    min-width: 200px;
    border-radius: 0 10px 10px 10px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.dropdown-content a:hover {
    background-color: #7e1002;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Styling for <hr> between menu items in the dropdown menus*/
.header_navbar_ul hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,  rgba(0, 0, 0, 0), #ccc,  rgba(0, 0, 0, 0));
    margin-top: 0;
    margin-bottom: 0;
}

/*I don't think this one does anything. Probably because of "".dropdown-content a:hover" covering it.*/
.dropdown:hover .dropbtn {
    background-color: #111;
}




/*---------------------------Footer with sponsor logos----------------------------*/

footer hr  {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 50px;
}

#footer-contact-row {
  padding-bottom: 50px;
}

#footer-contact-row a {
  color: #999999;
	font-size: 15pt; /*35pt*/
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
}

#footer-contact-row a:hover {
  color: #c91a03;
}

#footer-contact-row hr  {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    margin-left: 35%;
    padding-bottom: 10px;
}

#logorow {
  padding: 2em;
}

.footerimg {
  max-height: 100px;
  max-width: 250px;
}

.footerlogo {
  display: inline-block;
  vertical-align: bottom;
  padding: 1.5em;
}

.footerlogo .on {
  display: block;
}

.footerlogo:hover .on, .footerlogo .off {
  display:none;
}

.footerlogo:hover .off {
  display:block;
}

/*---------------------------Center page styling---------------------------------*/

/*The wrap class is used for <div> in order to define a space where the
side navigation bar and the page content (text, images etc) is kept*/


.wrap {
	width: cover;
  text-align: center;
  margin: auto;
  margin-top: 0px;
	min-width:500px;
	
	background:#e6e6e6;  
  background: -webkit-linear-gradient(left, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(1,0,0,0.2), rgba(1,0,0,0.05), rgba(1,0,0,0.2)); /* Standard syntax (must be last) */
}

.wrap-header {
	padding-right: auto;
  padding-left: auto;
	background-color: #e6e6e6;
}

/*This is the content of the page, i.e. text images etc. Fits inside <div> with the wrap class*/
.wrap-content {
	margin-top:100px;
	padding-right: 22%;
  padding-left: 22%;
	background-color: transparent;
}

/*Like .wrap-content, except with even margins, for pages where a side navigation bar is superfluous*/
.wrap-content-no-side-nav {
  padding-right: 75px;/*50px*/
  padding-left: 75px;
}

.wrap-content, .wrap-content-no-side-nav {
  padding-top: 25px;
}

.dashed_line_left_first {
	background-color:transparent;
	
	border-style: none none dashed dashed;
	border-width:5px;
	border-color:#808080;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	padding-top:0px;
}

.dashed_line_left {
	background-color:transparent;
	
	border-style: none none dashed dashed;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}

.dashed_line_right {
	background-color:transparent;
	border-style: none dashed dashed none;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}

.dashed_line_right_last { /*No bottom border, only left*/
	background-color:transparent;
	border-style: none dashed none none;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}

.dashed_line_left_last { /*No bottom border, only right*/
	background-color:transparent;
	border-style: none none none dashed;
	border-width:5px;
	border-color:#808080;
	padding:50px;
}

/*----------------------------Side navigation bar-------------------------------*/

#side-nav {
    width: 25%;
}

#side-nav nav {	
	  width: 10vw;
    margin-left: 25px;
    margin-top:140px;
    float: left;
		border-style:solid;
		border-width:2px;
		border-color:#000000;
}

#side-nav a {
    color: #1a1a1a;
		font-size:0.8vw;
    display: block;
    padding: 10px;
    text-align: left;
    text-decoration: none;
		background: #e6e6e6;
		
}

#side-nav a.active {
    background: #c91a03;
    color: black;
	}

#side-nav .sub-level {
    padding-left: 30px;

}

#side-nav a:hover {
  background: #ffffff;
  color: black;
	font-weight:bold;
	text-decoration:underline;
	text-decoration-color:#c91a03;
}


.side-nav_stick {
    position: fixed;
    top: 0;
    z-index: 0;   
}

.hidden-sidenav {
  opacity: 0;
}

#side-nav nav {
	-webkit-transition: opacity 200ms ease-in-out;
    -moz-transition: opacity 200ms ease-in-out;
    -ms-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
}

/*---------------------------Profile card styling-------------------------------------*/
.profile-table {
  margin: 80px auto 0 auto;
  border-spacing: 30px;
	
}

.profile-main {
  height: 350px;
  width: 300px;
  position: relative;
  margin: 20px;
}

.profile-container {
  height: 350px;
  width: 300px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fffef9;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  #fffffb 0%, #fffef9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* IE10+ */
	background: linear-gradient(top,  #fffffb 0%,#fffef9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}

.profile-image {
  margin: 15px auto 0 auto;
  height: 250px;
  width: 250px;
  position:relative;
}

.profile-content {
  display: none;
  width: 300px;
  margin: 70px auto 0 auto;
  text-align: justify;
}

.profile-container:hover .profile-content {
  display: block;
}

.profile-container:hover .profile-image {
  position: relative;
}

.profile-name {
  padding-top: 15px;
  color: #c91a03;
  font-weight: bold;
  font-size: 15pt;
	text-align:center;
}

.profiletext {
  font-size: 12pt;
  margin-top: 10px;
  line-height: 150%;
  text-align: justify;
}


/*-------------------------------GENERAL STUFF-------------------------------------*/

div {
  text-align: center;
}

/*.header is the class used in the header image at the top of pages*/
.header {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  }

.header_Achievements_biobricks {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Achievements_results {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Project_theory {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Project_constructs {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Project_modelling {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_students {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_supervisors {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_sponsors {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_collaborations {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Team_attributions {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Notebook_journal {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header_Notebook_lab_safety {
  font-size: 45pt;
  color: black;
  text-align: center;
	position:bottom;
  background-image: url("pictures_17/backgrounds/bricks.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	background-color:#000000;
	
	border-bottom: 3px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #404040, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #404040, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.header-text {
  background-color: transparent;
  font-size: 80pt; /*35pt*/
	font-family:"Lato", cursive;
  color:#c91a03 ;
	line-height: 65pt;
  padding-top: 30%;
	font-weight: bold;
	text-align:left;
	margin-left:10%;
	text-shadow: 5px 5px #000000;
}

.header-subtitle {
  color:#c91a03;
  font-size: 40pt;
	line-height: 15pt;
  padding-top: 2%;
  padding-bottom: 20px;
	font-family:"Lato", cursive;
	text-align:left;
	margin-left:10%;
	text-shadow: 2px 2px #000000;
}

/*--------------Basic text and content styling---------------------------------*/
p {
  font-size: 12pt;
  text-align: justify;
  text-justify: inter-word;
  line-height: 200%;
  margin-bottom: 10px;
	color:#1a1a1a;
}

h2 {
	text-align:left;
}

.h2style {
	color:#1a1a1a;
	font-size:25pt;
	text-align:center;
}

h3 {
  text-align: left;
}

figcaption {
  color: black;
  font-size: 11pt;
  text-align: justify;
  padding-left: 80px;
	margin-left:50px;
}

figcaption b {
  color: #c91a03;
}

.subtitle {
	color:#000000;
	font-size:30pt !important;
	text-align:center;
	
	border-bottom: 2px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #1a1a1a 0%, #808080, #1a1a1a 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #1a1a1a 0%, #808080, #1a1a1a 100%);
  border-image: linear-gradient(to right, #1a1a1a 0%, #808080, #1a1a1a 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.list {
  margin-left:50px;
  list-style-position: outside;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 10px;
  font-size: 12pt;
  line-height: 125%;
}

.sponsor-picture {
	display: inline-block;
	border-style:dashed;
	width: 500px;
  height:170px;
	padding: 10px;
}

.sponsor-picture2 {
	width: 200px;
  margin-left: 50px;
	margin-bottom:10px;
	float:right;
	}

.sidetitle {

	color:#1a1a1a;
	font-size:30pt;
	text-align:center;
	
	border-bottom: 2px solid transparent; /*A lot of code for the line between the header and the body */
  -moz-border-image: -moz-linear-gradient(left, #000000 0%, #808080, #000000 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #000000 0%, #808080, #000000 100%);
  border-image: linear-gradient(to right, #000000 0%, #808080, #000000 100%);
  border-image-slice: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

}


/*--------------Links in text and lists are red when hovered------------------*/



p a:link {
  text-decoration: none;
  color: #c91a03;
  
}

p a:link:hover {
  color: #7e1002;
}

p a:visited {
  text-decoration: none;
  color: #c91a03;
  
}

h1 a:link {
  font-weight: bold;
	font-size:20pt;
	color: #c91a03;
}

h1 a:link:hover {
  font-weight: bold;
	font-size:20pt;
  color: #7e1002;
}

h1 a:visited {
	text-decoration:none;
	font-size:20pt;
	color:#c91a03;
}

/*Commented before, want to know what it does*/
.list a:link {
  text-decoration: none;
  color: #c91a03;
}

.list a:visited {
  text-decoration: none;
  color: #c91a03;
}

.list a:hover {
  text-decoration: none;
  color: #7e1002;
}

.text a:link {
  text-decoration: none;
  color: #c91a03;
}

.text a:visited {
  text-decoration: none;
  color: #c91a03;
}

.text a:hover {
  text-decoration: none;
  color: #7e1002;
}

.profiletext a:link {
  text-decoration: none;
  color: #c91a03;
  font-weight: bold;
}

.profiletext a:visited {
  text-decoration: none;
  color: #c91a03;
  font-weight: bold;
}


.profiletext a:hover {
  text-decoration: none;
  color: #7e1002;
}

/*superscript and subscript modification so it doesn't fuck up line-height in multiple lined text*/
sub, sup { 
	font-size: 75%;
	line-height: 0; 
	position: relative; 
	vertical-align: baseline; 
}
sup { 
	top: -0.5em; 
}
sub { 
	bottom: -0.25em; 
}

.thankyoutext {
  font-size: 16pt;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 10px;
  text-indent: 20px;
  line-height: 150%;
  font-weight: 500;
}



/*---------------------------BUTTON---------------------------------*/
.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #5B9E00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.6s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/*-----------------------long button----------------------------------------*/
.button_long {
  display: inline-block;
  border-radius: 10px;
  background-color: #5B9E00;
  border: none;
  color: black;
  text-align: left;
  font-weight:600;
  font-size: 15pt;
  padding: 10px;
  width: 100%;
  transition: all 0.6s;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button_long span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_long span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button_long:hover span {
  padding-right: 25px;
}

.button_long:hover span:after {
  opacity: 1;
  right: 0;
}


/*-----------------------------------SLIDER------------------------------------*/
.bigslider{
  width: 1000px;
  margin: auto;
}
/* Slider Setup */

input {
	display: none;
}

#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#overflow {
	width: 100%;
	overflow: hidden;
}

article img {
	width: 100%;
}

#slides .inner {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
	margin-top: -30%;
	width: 100%;
	height: 0; /*If more than zero, not possible to click image.*/
}

#controls label { 
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

#active {
	margin-top: 31%; /*Had to change this after I reduced height to 0 in #controls*/
	margin-bottom: 20px;
	text-align: center;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('http://csscience.com/responsiveslidercss3/next.png') no-repeat;
	float: right;
	margin: 0 -50px 0 0;
	display: block;
}


#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('http://csscience.com/responsiveslidercss3/prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -50px;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
	background: #333;
	border-color: #333 !important;
}

/* Info Box */

/*This fixes the transition problems for IE*/
.info-container {
  position:relative;
}

.info {
	margin: 0 0 -150%;
	position: absolute;
	padding: 20px 20px;
	opacity: 0;
	color: white;
	background-color: rgba(12, 116, 156, 0.8);
	text-align: left;
	border-radius: 15px;
	line-height: 150%;
	font-size: 15pt;
}

.info a {
  	text-decoration: none;
  	color: #A5D3E4;
}

.info a:hover {
  text-decoration: underline;
}

.info h3 {
	color: white;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 25px;
	font-style: normal;
}

/* Slider Styling */

#slides {
	margin: 20px 20px 20px 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fff;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}


/* Animation */

#slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}



